

@model IEnumerable<ProductCRUD.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Listing</h1>

<div class="d-flex">
    <a asp-action="Create" class="btn btn-primary ms-auto">Add Product</a>
</div>
<table class="table table-bordered mt-3">
    <thead class="table-light">
        <tr>
            <th>
              SN
            </th>
            <th>
               Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((value, index) => new { value, index }))
        {
            <tr>
                <td>
                    @(item.index + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value.Created)
                </td>
                <td>

                    <a href="@Url.Action("Details", "Products", new { id = item.value.Id })" class="btn btn-info btn-sm">
                        <i class="fa-solid fa-user"></i>
                    </a>

                    <a href="@Url.Action("Edit", "Products", new { id = item.value.Id })" class="btn btn-warning btn-sm">
                        <i class="fa-solid fa-pencil"></i> 
                    </a>


                    <a href="@Url.Action("Delete", "Products", new { id = item.value.Id })" class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-xmark"></i>
                    </a>                
                    

                </td>
            </tr>
        }
    </tbody>
</table>
